.checkbox-container  {
    position: relative;
    display: inline-block;
    width: 300px; 
}
.checkbox-group  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}
.checkbox-container:hover .checkbox-group  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.checkbox-group div  {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}
table  {
    width: 100%;
    border-collapse: collapse;
}
thead th  {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}
tbody td  {
    padding: 10px;
    border-top: 1px solid #ddd;
}
tbody tr:nth-child(even)  {
    background-color: #f9f9f9;
}
