body  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
h2  {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
li a:hover  {
    background-color: #008000;
    color: white;
  }
.schedule-container  {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.schedule-list  {
    list-style-type: none;
    padding: 0;
}
.schedule-list li  {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.schedule-list li i  {
    display: block;
    text-align: center;
    color: #999;
    font-size: 16px;
    margin-top: 20px;
}
.schedule-form  {
    margin-top: 10px;
}
.schedule-form label  {
    font-weight: bold;
}
.schedule-form select  {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.schedule-form button  {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.schedule-form button:hover  {
    background-color: #45a049;
}
