@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    margin: 15px 15px;
    margin-left: 170px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}

.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #000000;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.input-select input, select{
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}

.course input, select{
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0 15px;
    height: 42px;
    margin: 10px 0;
}

.input-field input, select{
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 10px 0;
}

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field select,
.input-field input[type="date"]{
    color: #000000;
}

h2{
    text-align: center; 
    color: #000000;
    padding: 20px;
}

h1{
    
    font-size: 35px;
}

p{
    font-size: medium;
}

label{
    font-size: 17px;
}

.btn{
    background: #008000;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
}

.link{
    margin-bottom: 15px;
}

.custom-select {
    position: relative;
    font-family: 'Poppins' sans-serif;
}

.custom-select select {
    display: none;
}
